@using PrintingMonitor.Printer
@using PrintingMonitor.Printer.Models.Commands.Management

@inject IPrinter Printer

<DoubleSideTile Title="Movement" SizeClasses="col-xl-4 col-md-6 mb-4">
    <LeftSideContent>
        <div class="row mb-4">
            <div class="col">
                <div class="row m-2 d-box justify-content-center">
                    <h6>X/Y axis:</h6>
                </div>
                <div class="row m-2">
                    <div class="col d-flex justify-content-center">
                        <button disabled="@(Printer.IsPrinting || SelectedXY is null)" @onclick="OnXUpMove" type="button" class="btn btn-dark oi oi-arrow-thick-top px-6 py-2"/>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col d-flex justify-content-end mr-2">
                        <button disabled="@(Printer.IsPrinting || SelectedXY is null)" @onclick="OnYUpMove" type="button" class="btn btn-dark oi oi-arrow-thick-left"/>
                    </div>
                    <div class="col d-flex justify-content-start ml-2">
                        <button disabled="@(Printer.IsPrinting || SelectedXY is null)" @onclick="OnYDownMove" type="button" class="btn btn-dark oi oi-arrow-thick-right"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button disabled="@(Printer.IsPrinting || SelectedXY is null)" @onclick="OnXDownMove" type="button" class="btn btn-dark oi oi-arrow-thick-bottom px-6 py-2"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-box justify-content-center">
            <div class="col">
                X/Y movement steps:
            </div>
            <div class="w-100"></div>
            <div class="col">
                <select disabled="@Printer.IsPrinting" @bind="SelectedXY" class="form-control form-control-sm">
                    <option>0.1</option>
                    <option>1</option>
                    <option>10</option>
                    <option>100</option>
                </select>
            </div>
        </div>
    </LeftSideContent>
    <RightSideContent>
        <div class="row mb-4">
            <div class="col">
                <div class="row m-2 d-box justify-content-center">
                    <h6>Z axis:</h6>
                </div>
                <div class="row m-2">
                    <div class="col d-flex justify-content-end mr-2">
                        <button disabled="@(Printer.IsPrinting || SelectedZExtruder is null)" @onclick="OnZUpMove" type="button" class="btn btn-dark oi oi-arrow-thick-left"/>
                    </div>
                    <div class="col d-flex justify-content-start ml-2">
                        <button disabled="@(Printer.IsPrinting || SelectedZExtruder is null)" @onclick="OnZDownMove" type="button" class="btn btn-dark oi oi-arrow-thick-right"/>
                    </div>
                </div>
                <div class="row m-2 d-box justify-content-center">
                    <h6>Hotend:</h6>
                </div>
                <div class="row m-2">
                    <div class="col d-flex justify-content-end mr-2">
                        <button disabled="@(Printer.IsPrinting || SelectedZExtruder is null)" @onclick="OnExtruderUpMove" type="button" class="btn btn-dark oi oi-arrow-thick-left"/>
                    </div>
                    <div class="col d-flex justify-content-start ml-2">
                        <button disabled="@(Printer.IsPrinting || SelectedZExtruder is null)" @onclick="OnExtruderDownMove" type="button" class="btn btn-dark oi oi-arrow-thick-right"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-box justify-content-center">
            <div class="col">
                Z/Extruder movement steps:
            </div>
            <div class="w-100"></div>
            <div class="col">
                <select disabled="@Printer.IsPrinting" @bind="SelectedZExtruder" class="form-control form-control-sm">
                    <option>0.1</option>
                    <option>1</option>
                    <option>10</option>
                    <option>100</option>
                </select>
            </div>
        </div>
    </RightSideContent>
</DoubleSideTile>

@code
{
    [Parameter]
    public double? SelectedZExtruder { get; set; }

    [Parameter]
    public double? SelectedXY { get; set; }

    private async Task OnXUpMove(MouseEventArgs e)
    {
        if (!(SelectedXY is null))
            await Printer.ExecuteManagementCommand(new MoveCommand(MoveDirection.Up, SelectedXY.Value));
    }

    private async Task OnXDownMove(MouseEventArgs e)
    {
        if (!(SelectedXY is null))
            await Printer.ExecuteManagementCommand(new MoveCommand(MoveDirection.Down, SelectedXY.Value));
    }

    private async Task OnYUpMove(MouseEventArgs e)
    {
        if (!(SelectedXY is null))
            await Printer.ExecuteManagementCommand(new MoveCommand(MoveDirection.Left, SelectedXY.Value));
    }

    private async Task OnYDownMove(MouseEventArgs e)
    {
        if (!(SelectedXY is null))
            await Printer.ExecuteManagementCommand(new MoveCommand(MoveDirection.Right, SelectedXY.Value));
    }

    private async Task OnZUpMove(MouseEventArgs e)
    {
        if (!(SelectedZExtruder is null))
            await Printer.ExecuteManagementCommand(new MoveCommand(MoveDirection.ZUp, SelectedZExtruder.Value));
    }

    private async Task OnZDownMove(MouseEventArgs e)
    {
        if (!(SelectedZExtruder is null))
            await Printer.ExecuteManagementCommand(new MoveCommand(MoveDirection.ZDown, SelectedZExtruder.Value));
    }

    private async Task OnExtruderUpMove(MouseEventArgs e)
    {
        if (!(SelectedZExtruder is null))
            await Printer.ExecuteManagementCommand(new MoveCommand(MoveDirection.ExtruderUp, SelectedZExtruder.Value));
    }

    private async Task OnExtruderDownMove(MouseEventArgs e)
    {
        if (!(SelectedZExtruder is null))
            await Printer.ExecuteManagementCommand(new MoveCommand(MoveDirection.ExtruderDown, SelectedZExtruder.Value));
    }
}