@using PrintingMonitor.Printer.Notification
@using PrintingMonitor.Printer
@using PrintingMonitor.Printer.Models.Commands.Management
@implements IDisposable

@inject INotificator<Printer.Models.Information.Positions> Notificator;
@inject IPrinter Printer;

<DoubleSideTile Title="Positions"
                AlignContentCenter
                SizeClasses="col-xl-3 col-md-6 mb-4"
                LeftSideSizeClasses="col-xl-4 col-lg-4 col-12"
                RightSideSizeClasses="col-xl-8 col-lg-8 col-12">
    <LeftSideContent>
        <div class="row d-flex justify-content-center mb-4">
            <h6>Current X: @(positions?.X.ToString() ?? "-")</h6>
        </div>
        <div class="row d-flex justify-content-center mb-4">
            <h6>Current Y: @(positions?.Y.ToString() ?? "-")</h6>
        </div>
        <div class="row d-flex justify-content-center mb-4">
            <h6>Current Z: @(positions?.Z.ToString() ?? "-")</h6>
        </div>
        <div class="row d-flex justify-content-center">
            <h6>Current E: @(positions?.E.ToString() ?? "-")</h6>
        </div>
    </LeftSideContent>
    <RightSideContent>
        <div class="row  mb-4">
            <div class="col">
                <button disabled="@Printer.IsPrinting" @onclick="OnHomingX" type="button" class="btn btn-secondary oi oi-home w-100"> Home X</button>
            </div>
            <div class="col">
                <button disabled="@Printer.IsPrinting" @onclick="OnHomingXY" type="button" class="btn btn-secondary oi oi-home w-100"> Home X/Y</button>
            </div>
        </div>
        <div class="row  mb-4">
            <div class="col">
                <button disabled="@Printer.IsPrinting" @onclick="OnHomingY" type="button" class="btn btn-secondary oi oi-home w-100"> Home Y</button>
            </div>
            <div class="col">
                <button disabled="@Printer.IsPrinting" @onclick="OnHomingAll" type="button" class="btn btn-secondary oi oi-home w-100"> Home All</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button disabled="@Printer.IsPrinting" @onclick="OnHomingZ" type="button" class="btn btn-secondary oi oi-home w-100"> Home Z</button>
            </div>
            <div class="col">
                <button disabled="@Printer.IsPrinting" @onclick="OnBedLeveling" type="button" class="btn btn-secondary oi oi-justify-center w-100"> Bed leveling</button>
            </div>
        </div>
    </RightSideContent>
</DoubleSideTile>

@code 
{
    private Printer.Models.Information.Positions positions;
    
    protected override void OnInitialized()
    {
        Notificator.Subscribed(this, PositionsUpdate);
        base.OnInitialized();
    }
    
    private async Task PositionsUpdate(Printer.Models.Information.Positions data)
    {
        positions = data;

        await InvokeAsync(this.StateHasChanged);
    }

    private async Task OnHomingX(MouseEventArgs e)
    {
        await Printer.ExecuteManagementCommand(new HomingCommand(HomingDirection.X));
    }

    private async Task OnHomingY(MouseEventArgs e)
    {
        await Printer.ExecuteManagementCommand(new HomingCommand(HomingDirection.Y));
    }
    
    private async Task OnHomingXY(MouseEventArgs e)
    {
        await Printer.ExecuteManagementCommand(new HomingCommand(HomingDirection.XY));
    }
    
    private async Task OnHomingZ(MouseEventArgs e)
    {
        await Printer.ExecuteManagementCommand(new HomingCommand(HomingDirection.Z));
    }
    
    private async Task OnHomingAll(MouseEventArgs e)
    {
        await Printer.ExecuteManagementCommand(new HomingCommand(HomingDirection.ALL));
    }
    
    private async Task OnBedLeveling(MouseEventArgs e)
    {
        await Printer.ExecuteManagementCommand(new BedLevelingCommand());
    }
    
    public void Dispose()
    {
        Notificator.Unsubscribed(this);
    }
}